  <div class="row">
    <div class="col-sm-3">

      <div class="lft">
				 <% @categories.each do |categorie| %>
            <div class="textdekor">
		           <div class="categorx">
				          <%= link_to category_path(categorie.id) do %>
	                  <%= image_tag(categorie.photo_url, size: "30x30", class: "imagecategory") %>
						            <i class="textdekori"><%= categorie.name %></i>
						              <% end %>
							              </div>
                              </div>
							                  <% end %>
                                  </div>
                                    </div>
      <div class="col-sm-9">
        <div class="centr">
          <h2 class="prodct">All Products</h2>
  			     <span style="font-size: 15px;" class="textdekor"></span>
                <% @product.each do |prod|%>
                  <div class="product-body">
                      <%= link_to product_path(prod.id), style:'text-decoration:none' do %>
                          <div class="product-content">
                            <%= image_tag(prod.images[0].url, size: "180x180", class: "imageindex") %>
					                    <i class="textprod"><%= prod.name %></i><br/>
	                            <i class="textprod">Price: <%= prod.price %></i><br/>
                              <i class="textprod">Description: <div class="cutdes"><%= prod.description %></div></i><br/>
                                </div>
                                  </div>
                                    <% end %>
                                      <% end %>
                                      </span>
                                        </div>
                                          </div>
                                            </div>
